<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-1 pl-0 pr-0 collapse fade show" id="sidebar">
            <div class="list-group panel">
                <div class="collapse" id="menu1">
                </div>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><span class="ml-1 hidden-sm-down">Home</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><span class="ml-1 hidden-sm-down">Acquisition</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><span class="ml-1 hidden-sm-down">Technology</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><span class="ml-1 hidden-sm-down">Innovation & Change</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><span class="ml-1 hidden-sm-down">Education/Training</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><span class="ml-1 hidden-sm-down">Public Health</span></a>
                <a href="#" class="list-group-item collapsed" data-parent="#sidebar"><span class="ml-1 hidden-sm-down">Sustainable Farming</span></a>
            </div>
        </div>
        <main class="col-md-10 col-11 pl-2 pt-2">
          <div class="row">
            <div class="col-lg-12">
              <a href="#sidebar" data-toggle="collapse" class="m-2"><i class="fa fa-navicon fa-2x text-muted"></i></a>
            </div>
          </div>
          <div id="main-hero">
            <div class="row">
              <div class="col-lg-12" >
                <div class="row header-row">
                  <div class="col-lg-8 offset-lg-2 header-col">
                    <div class="header-banner">Sterling Heritage Corporation</div>
                    <div class="header-title">Services</div>
                    <div class="header-info">
                      Sterling Heritage provides high-quality, cost effective, and reliable programs that are delivered on-time.
                      The combination of project management experience, professional & creative employees, lessons learned, and an energized environment all lead to successful projects.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 offset-lg-2 services-body-col">
                    <div class="body-title">Sterling Heritage Corporation is a service disabled veteran-owned small business that provides our clients with assistance in these focus areas:</div>
                    <div class="body-content">
                      <ul>
                        <li><a href="">Acquisition & Grants Management</a></li>
                        <li><a href="">Technology & Program Management</a></li>
                        <li><a href="">Innovation & Change</a></li>
                        <li><a href="">Education, Training & Learning Management</a></li>
                        <li><a href="">Sustainable Agriculture Farming</a></li>
                        <li><a href="">Food, Nutrition and Public Health</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 offset-lg-2 services-body-col">
                    <div class="body-title"></div>
                    <div class="body-content">
                      Our clients entrust us with mission-critical work because we understand their missions and the challenges facing Federal Government organizations.
                      This understanding enables us to apply the appropriate processes and technologies to effectively and efficiently improve their organization’s performance levels.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 offset-lg-2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-divider"></div>
          <div id="home-car">
            <div class="row">
              <div class="col-lg-12">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
              </div>
            </div>
          </div>
        </main>
    </div>
</div>
