body {
  font-size: 18px !important;
  background-color: #3d5558 !important;
}

.page-divider {
  height: 12vh;
  width: 100%;
  background-color: #000 !important;
}

i {
  padding: 0 0.5rem !important;
}
