// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hero {
  min-height: 90vh;
  width: 100%;
  background-image: url("back11.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: none;
  background-color: #456 !important;
  display: flex;
  flex-direction: column;
  a {
    color: #000;
    line-height: 1.5rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

.hero1-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 12vh;
  color: #000;
  .title-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.75rem 2.5rem;
    border-radius: 15px;
    background-color: rgba(#d2d2d2, 0.5);
    h5 {
      padding-left: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
.hero2-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 66vh;

  .col-lg-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .col-lg-9 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.hero3-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 12vh;
}

.hero-col {
  background-color: rgba(#d2d2d2, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem;
}

#hero .carousel {
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-info {
  font-size: 16px;
}

.logo-img {
  height: 3rem;
  width: 14rem;
}

.hero-footer-row {
  background-color: rgba(#d2d2d2, 0.5);
  border-radius: 15px;
  padding: 1.05rem 2.5rem;
}

// change

#our-people {
  min-height: 100vh;
  width: 100%;
  color: #000;
  letter-spacing: 0.05rem;
  font-size: 18px;
  .col-lg-8 {
    background-color: rgba(#fff, 0.4);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .col-lg-4 {
    background-color: rgba(#000, 0.4);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .people-img {
      height: 15rem;
      width: 25rem;
      border-radius: 10px;
    }
  }
  .row {
    margin: 2.5vh 0;
  }
  p {
    line-height: 1.75;
  }
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(#fff, 0.25);
  width: 100%;
  color: #000;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.header-image {
  width: 100%;
  min-height: 10vh;
  color: #d2d2d2;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#000, 0.4);
  &:hover {
    color: #fff;
  }
}

.header-image-1 {
  // background-image: url("back15.jpg");
  // background-position: center center;
  // background-size: 100% 100%;
  // background-repeat: none;
}

.header-image-2 {
  // background-image: url("wide2.jpg");
  // background-position: center center;
  // background-size: 100% 100%;
  // background-repeat: none;
  // color: #000;
}

.header-image-3 {
  // background-image: url("wide3.jpg");
  // background-position: center center;
  // background-size: 100% 100%;
  // background-repeat: none;
}

.people-content-row {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.people-links-col {
  min-height: 10vh;
  background-color: rgba(#fff, 0.25);
}

.page-footer-row {
  min-height: 10vh;
}

.nav {
  a {
    color: #000;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

// change

#client {
  min-height: 100vh;
  width: 100%;
}

#client {
  a {
    padding: 1.5rem 2.5rem;
    background-color: rgba(#000, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: rgba(#333, 0.9);
      cursor: pointer;
    }
    img {
      height: 6rem;
      width: 6rem;
    }
  }
  p {
    padding: 4rem;
    background-color: rgba(#000, 0.5);
    color: #d2d2d2;
    margin: 2.5vh 0;
    line-height: 2;
    letter-spacing: 0.05rem;
    &:hover {
      color: #fff;
    }
  }
}

.logos-row {
  .row {
    margin: 2.5vh 0;
  }
}

// changes

#services .services-div {
  width: 100%;
  min-height: 12rem;
  background-color: rgba(#fff, 0.4);
  margin: 2.5vh 0;
  border-radius: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  h4 {
    margin: 2vh 0;
  }
  p {
    margin: 2vh 2.5vw;
  }
}

// changes

#company-news {
  width: 100%;
  min-height: 100vh;
}
